[meta]
# enviornment=prod for deployed instances
environment=dev

[dev]

# The displayed name of this site
site-name=SpaceDock
# The email where users who need help write to
support-mail=support@spacedock.info

# Change this to the actual location of your site
protocol=http
domain=localhost:5000
# Change this value to something random and secret
secret-key=hello world

# Enable offloading of downloads to the reverse proxy server. Make sure the reverse proxy is set up!
# valid values are:
# false - disable offloading
# nginx - enable X-Accel headers
# apache - enable X-Sendfile headers
use-x-accel=false

# Set this to False to disable registration
registration=True

# This lets you choose what to bind to
host=0.0.0.0
port=5000

# To send emails, fill out these details
smtp-host=
smtp-port=
smtp-user=
smtp-password=
smtp-tls=false
# Exceptions are emailed here
error-to=
error-from=

# SQL connection string
connection-string=postgresql://postgres:somewhatsecretpassword@localhost/spacedock

# Redis connection string
# http://docs.celeryproject.org/en/3.0/getting-started/brokers/redis.html
redis-connection=redis://redis:6379/0

# Absolute path to the directory you want to store mods in
storage=/opt/spacedock/storage

# Domain for a storage CDN
cdn-domain=

# Thumbnail size in WxH format, leave blank to disable screenshots
thumbnail_size=320x320

# Mod URL expression, used for sending emails containing links to the frontend
mod-url=/mod/{id}/{name}

# How long should the browser cache pages? (minutes)
cache-expires=10